body {
    background-color: antiquewhite;
}

input {
    margin-top: 10px;
    margin-bottom: 10px;
}

div {
    margin: 5px;
    padding: 5px;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr))
}

.card {
    width: 300px;
    border: solid;
    padding: 5px;
}